*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;

}

:root{
    --background-color:#e3f9ff;
    --text-color:#ebfffc;
}

.dark-mode{

}

body{
    background: var(--background-color);
}
.main-container{
    width:100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#calculator-container{
    background: #3a4452;
    
}